body,
html,
main {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("best.jpg");
    filter: brightness(1.011);
    /* Full height */
    height: 70%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1#main {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 197px;
    word-spacing: 10px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

body {
    background-color: #f5f5f2;
}

div.whatwedo {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    background-color: #f5f5f2;
    clear: both;
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    word-spacing: 10px;
}

div#aboutus {
    background-color: #f5f5f2;
    padding-bottom: 50px;
    color: #ff2c1d;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 45%;
    height: 300px;
}

div#vediob {
    background-color: #f5f5f2;
    float: left;
    width: 45%;
    padding-left: 119px;
    height: 300px;
    border: 1px solid #004366;
}

div#vediopartition {
    background-color: #f5f5f2;
    box-sizing: border-box;
    height: 300px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(128, 136, 209);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

h2#head1,
h2#head2 {
    text-align: center;
    color: darkblue;
}